#hc-list .item {
    background-color: #F7F5FF;
    text-align: center;
}

#hc-list a {
    display: inline-flex;
    justify-content: center;
}

#search-hero {
    background: url('../../../public/images/bg-hero.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8% 0;
    color: #fff;
}

.search {
    max-width: 60%;
    color: #000;
}