.form {
    margin-top: 56px;
}

.form .input,
.form textarea {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  font-family: inherit;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form textarea {
    resize: none;
}

.form input[type="checkbox"] {
    width: 24px;
    height: 20px;
    border: 1px solid red;
    position: relative;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.form input[type="checkbox"]:checked::before {
    background-color: var(--purple);
    content: 'v';
    color: #fff;
    inset: 0;
    /* width: 24px;
    height: 24px; */
    border-radius: 2px;
    display: flex;
    position: absolute;
    align-items: center;
    border: 1px solid var(--purple);
    justify-content: center;
}
