.hero, .hero-home, .hero-2 {
    background-image: url("../../../public/images/bg-hero.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    /* min-height: 90vh; */
  }
  
  .hero {
    padding: 15% 0 20% 0;
  }

  .hero-2 {
    padding: 10% 0;
  }

  .hero-home {
    padding-top: 10%;
  }

  .hero-home img {
    position: relative;
    margin-bottom: -18%;
  }

  .hero.scnd {
    padding: 10% 0;
  }

  .hero-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 30px;
  }
  
  .hero-wrap {
    text-align: center;
  }
  
  .hero-wrap p {
    font-weight: 500;
  }

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 25%;
  }
}