#detail {
    background: url('../../images/bg-slider.svg') center no-repeat;
    background-size: cover;
    padding: 5% 0 10% 0;
    color: #fff;
}

.open {
    display: block;
}

.tab-menu {
    display: flex;
    column-gap: 80px;
    justify-content: center;
}

.menu {
    padding: 16px;
    cursor: pointer;
    transition: .3s ease-in;
    border-bottom: 2px solid transparent;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.menu.active {
    border-bottom: 2px solid #fff;
}

#detail .open {
    transform: translateX(0);
    transition-delay: .2s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}