nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    z-index: 998;
  }
  .navbar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar-left {
    column-gap: 50px;
    -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
  }
  
  .navbar-right {
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
  }
  
  .navbar-right .btn {
    padding: 12px 32px;
  }
  
  .nav-menu {
    display: flex;
    column-gap: 35px;
    -moz-column-gap: 35px;
    -webkit-column-gap: 35px;
  }
  
  .nav-menu .link-item {
    color: #fff;
    position: relative;
  }

  .nav-menu .link-item a {
    color: #fff;
  }

  .nav-menu .link-item::before {
    content: '';
    background-color: #fff;
    width: 0;
    inset: auto auto 0 0;
    height: 1px;
    position: absolute;
    border-radius: 2px;
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

  .nav-menu .link-item:hover::before {
    width: 100%;
  }

  .lang-dd {
    display: flex;
  }

  .hide {
    display: none;
  }
  
  .language {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.language button {
  border: none;
  background: transparent;
  font-size: inherit;
  padding: 10px;
}

.dropdown {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.dropdown span {
  display: inline-flex;
  color: #fff;
}
  
  .dropdown-content {
    /* display: none; */
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 80px;
    padding: 24px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
  
  .dropdown-content a {
    color: var(--black-primary);
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    /* background-color: #ddd; */
    color: var(--purple);
  }
  
  .on-mobo {
    display: none;
  }

  .navbar-right .hmb {
    display: none;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.2em;
  }
  
  .navbar.active {
    background-color: #51429b;
    box-shadow: 5px -1px 12px -5px grey;
  }

  @media screen and (max-width: 990px) {
    .nav-menu {
      display: none;
    }
    
    .nav-menu#hidden-menu {
      position: absolute;
      inset: 80px auto auto 0;
      width: 100%;
      flex-direction: column;
      background-color: #51429b;
      border-radius: 5px;
      display: flex;
      row-gap: 20px;
      padding: 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}

    .navbar-right .hmb {
      display: flex;
    }

    .on-mobo {
      display: inline-flex;
    }

    .hide-mobo {
      display: none;
    }
  }

  @media screen and (max-width: 1199px) {
    .nav-menu {
      column-gap: 30px;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    }
  }
  