.item {
    background-color: #fff;
    padding: 32px;
    text-align: left;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }
  
  .icon-box {
    background-color: var(--purple);
    display: inline-flex;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 8px;
  }

  .text {
    width: 70%;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .flex .column {
    flex: 50%;
  }

  .flex.reverse {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 990px) {
    .flex, .flex.reverse {
      flex-direction: column;
    }
  }